<div class="container ">
    <h2>Student SignUp</h2>

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
    <% if(err){ %>
    <div class="pull-right"> <%= err %></div>
    <% } %>
</div>