<div class="buttons pull-left">
    <button class="btn1 login-btn pull-left"><i class="fa fa-facebook"></i>Login with Facebook</button>
    <p class=" text-success pull-left"> || </p>
    <button class="btn2 login-btn pull-left"><i class="fa fa-google-plus"></i>Login with Google</button>
</div>