<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to <a href="/test">FSDocs</a></h1>
    <p> Where we fuck docs</p>
</body>
</html>