<section class="tabs-section" id="bg4" data-0="background-position:0px 0px;"
         data-end="background-position:0px -1000px;">
    <div class="container">
        <div class="sec-header">
            <h2>Courses Subject</h2>

            <p>Discover courses by subject</p>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="tabs-text">
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
    </div>
    <div class="course-tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#math"><i class="fa fa-graduation-cap"></i>Mathematics</a>
            </li>
            <li><a data-toggle="tab" href="#physics"><i class="fa fa-cubes"></i>Physics</a></li>
            <li><a data-toggle="tab" href="#chemistry"><i class="fa fa-graduation-cap"></i>Chemistry</a></li>
            <li><a data-toggle="tab" href="#biology"><i class="fa fa-book"></i>Biology</a></li>
            <li><a data-toggle="tab" href="#cs"><i class="fa fa-laptop"></i>Computer Science</a></li>
            <li><a data-toggle="tab" href="#economy"><i class="fa fa-book"></i>Economy</a></li>
        </ul>
        <div class="tab-content container">
            <div id="math" class="tab-pane fade active in">
                <ul class="course-topics row">
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="physics" class="tab-pane fade">
                <ul class="course-topics row">
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="chemistry" class="tab-pane fade">
                <ul class="course-topics row">
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="biology" class="tab-pane fade">
                <ul class="course-topics row">
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="cs" class="tab-pane fade">
                <ul class="course-topics row">
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="economy" class="tab-pane fade">
                <ul class="course-topics row">
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4>Lorem Ipsum</h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <span>Writer</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>