<div class="container">
    <div class="sec-header">
        <h2>Latest Courses</h2>

        <p>Check Our Featured Courses</p>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="customNavigation">
        <a class="btn prev"><i class="fa fa-angle-left"></i></a>
        <a class="btn next"><i class="fa fa-angle-right"></i></a>
    </div>
    <div id="owl-carousel" class="owl-carousel owl-theme">
        <div class="course">
            <div class="thumb">
                <a href="#"><img src="images/course.jpg" alt=""></a>
            </div>
            <div class="text">
                <div class="header">
                    <h4>Lorem ipsum</h4>

                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <div class="course-name">
                    <p>Lorem ipsum dolor sit amet,</p>
                </div>
                <div class="course-detail-btn">
                    <a href="#">Subscribe</a>
                    <a href="#">Detail</a>
                </div>
            </div>
        </div>
        <div class="course">
            <div class="thumb">
                <a href="#"><img src="images/course.jpg" alt=""></a>
            </div>
            <div class="text">
                <div class="header">
                    <h4>Lorem ipsum</h4>

                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <div class="course-name">
                    <p>Lorem ipsum dolor sit amet,</p>
                </div>
                <div class="course-detail-btn">
                    <a href="#">Subscribe</a>
                    <a href="#">Detail</a>
                </div>
            </div>
        </div>
        <div class="course">
            <div class="thumb">
                <a href="#"><img src="images/course.jpg" alt=""></a>
            </div>
            <div class="text">
                <div class="header">
                    <h4>Lorem ipsum</h4>

                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <div class="course-name">
                    <p>Lorem ipsum dolor sit amet,</p>
                </div>
                <div class="course-detail-btn">
                    <a href="#">Subscribe</a>
                    <a href="#">Detail</a>
                </div>
            </div>
        </div>
        <div class="course">
            <div class="thumb">
                <a href="#"><img src="images/course.jpg" alt=""></a>
            </div>
            <div class="text">
                <div class="header">
                    <h4>Lorem ipsum</h4>

                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <div class="course-name">
                    <p>Lorem ipsum dolor sit amet,</p>
                </div>
                <div class="course-detail-btn">
                    <a href="#">Subscribe</a>
                    <a href="#">Detail</a>
                </div>
            </div>
        </div>
        <div class="course">
            <div class="thumb">
                <a href="#"><img src="images/course.jpg" alt=""></a>
            </div>
            <div class="text">
                <div class="header">
                    <h4>Lorem ipsum</h4>

                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <div class="course-name">
                    <p>Lorem ipsum dolor sit amet,</p>
                </div>
                <div class="course-detail-btn">
                    <a href="#">Subscribe</a>
                    <a href="#">Detail</a>
                </div>
            </div>
        </div>

    </div>
</div>