<div class="container">
    <div class="sec-header">
        <h2>Our Goal</h2>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="row">
        <div class="span4">
            <div class="services">
                <div class="header">
                    <i class="fa fa-tablet"></i>
                    <i class="fa fa-user inner-icon"></i>
                </div>
                <div class="text">
                    <h3><a href="#">Lorem ipsum </a></h3>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                        dolor. Aenean massa </p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="services">
                <div class="header">
                    <i class="fa fa-tablet"></i>
                    <i class="fa fa-list-alt inner-icon"></i>
                </div>
                <div class="text">
                    <h3><a href="#">Lorem ipsum</a></h3>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                        dolor. Aenean massa </p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="services">
                <div class="header">
                    <i class="fa fa-tablet"></i>
                    <i class="fa fa-cogs inner-icon"></i>
                </div>
                <div class="text">
                    <h3><a href="#">Lorem ipsum </a></h3>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                        dolor. Aenean massa </p>
                </div>
            </div>
        </div>
    </div>
</div>