<div class="container">
    <div class="sec-header">
        <h2>Our Teachers</h2>

        <p>They're doing their best to give you beautiful content</p>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="row">
        <div class="span3">
            <div class="teachers">
                <div class="thumb">
                    <a href="#"><img src="images/teacher.png" alt=""></a>
                </div>
                <div class="text">
                    <h2><a href="#">Mickey Rorey</a></h2>

                    <p>Science Teacher</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="teachers">
                <div class="thumb">
                    <a href="#"><img src="images/teacher.png" alt=""></a>
                </div>
                <div class="text">
                    <h2><a href="#">Dark Vador</a></h2>

                    <p>Coffee Teacher</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="teachers">
                <div class="thumb">
                    <a href="#"><img src="images/teacher.png" alt=""></a>
                </div>
                <div class="text">
                    <h2><a href="#">Dark Vador</a></h2>

                    <p>Coffee Teacher</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="teachers">
                <div class="thumb">
                    <a href="#"><img src="images/teacher.png" alt=""></a>
                </div>
                <div class="text">
                    <h2><a href="#">Dark Vador</a></h2>

                    <p>Coffee Teacher</p>
                </div>
            </div>
        </div>
    </div>
</div>