<div class="tweets">
    <div class="container">
        <div class="tweet-contant">
            <i class="fa fa-twitter"></i>
            <h4>Weekly Quotes</h4>
            <ul class="bxslider">
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="widget widget-categories">
                    <h2>Course Categories</h2>
                    <ul>
                        <li><a href="#">Mathematics</a></li>
                        <li><a href="#">Physics</a></li>
                        <li><a href="#">Economics</a></li>
                        <li><a href="#">Computer Science</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Biology</a></li>
                    </ul>
                </div>
            </div>
            <div class="span5">
                <div class="widget widget-newsletter">
                    <h2>Newsletters</h2>

                    <div class="newsletter-contant">
                        <p>Subscribe to be the first to know about new courses !</p>

                        <p><input type="text" class="input-block-level"></p>

                        <p>
                            <button>Subscribe</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="widget widget-map">
                    <h2>Where we are?</h2>

                    <div class="location-map">
                        <div id="map-canvas"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <p>© Copyrights 2015-16. All Rights Reserved <a href="#">FSDocs</a></p>
    </div>
</div>