<div class="top-strip">
    <div class="container">
        <div class="account">
            <ul>
                <li><a href="#">Sign Out</a></li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="account" role="button" data-toggle="dropdown" data-target="#"
                           href="#">
                            My Account
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="account">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Account Setting</a></li>
                            <li><a href="#">Facs</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="navigation-bar">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <div class="cart">
            <ul>
                <li>
                    <div class="search-bar"><i class="fa fa-search"></i></div>
                    <div class="search-box">
                        <input type="text" class="input-block-level" placeholder="Courses,Teachers,Resources...">
                    </div>
                </li>
            </ul>
        </div>
        <div class="navigation">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul>
                                <li><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Sub Tab Here</a></li>
                                        <li><a href="#">Another One here</a></li>
                                        <li><a href="#">And Here too</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Tab Here</a></li>
                                <li><a href="#">Another One</a></li>
                                <li><a href="#">And Here</a></li>
                                <li><a href="#">AboutUs</a></li>
                                <li><a href="#">ContactUs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>