<div class="sidebar">
    <div class="widget widget-tags">
        <h2>Subjects</h2>
        <ul>
            <li><a href="#">resource</a></li>
            <li><a href="#">design</a></li>
            <li><a href="#">art</a></li>
            <li><a href="#">icon</a></li>
            <li><a href="#">Photoshop</a></li>
            <li><a href="#">Template</a></li>
            <li><a href="#">resource</a></li>
            <li><a href="#">design</a></li>
            <li><a href="#">art</a></li>
            <li><a href="#">icon</a></li>
            <li><a href="#">Photoshop</a></li>
            <li><a href="#">Template</a></li>
        </ul>
    </div>
    <div class="widget widget-papular-post">
        <h2>Popular Posts</h2>
        <ul>
            <li>
                <h4>Donec neque ipsum, sodales nec trist</h4>
                <div class="thumb">
                    <a href="#"><img src="images/topic.jpg" alt=""></a>
                </div>
                <div class="text">
                    <p class="date">19 May 2012  <span>Admin</span></p>
                    <p>Lorem ipsum dolor sit amet, consect adipiscing elit.</p>
                </div>
            </li>
            <li>
                <h4>Donec neque ipsum, sodales nec trist</h4>
                <div class="thumb">
                    <a href="#"><img src="images/topic.jpg" alt=""></a>
                </div>
                <div class="text">
                    <p class="date">19 May 2012  <span>Admin</span></p>
                    <p>Lorem ipsum dolor sit amet, consect adipiscing elit.</p>
                </div>
            </li>
            <li>
                <h4>Donec neque ipsum, sodales nec trist</h4>
                <div class="thumb">
                    <a href="#"><img src="images/topic.jpg" alt=""></a>
                </div>
                <div class="text">
                    <p class="date">19 May 2012  <span>Admin</span></p>
                    <p>Lorem ipsum dolor sit amet, consect adipiscing elit.</p>
                </div>
            </li>
            <li>
                <h4>Donec neque ipsum, sodales nec trist</h4>
                <div class="thumb">
                    <a href="#"><img src="images/topic.jpg" alt=""></a>
                </div>
                <div class="text">
                    <p class="date">19 May 2012  <span>Admin</span></p>
                    <p>Lorem ipsum dolor sit amet, consect adipiscing elit.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="widget widget-twitter">
        <h2>Latest Tweets</h2>
        <ul>
            <li>
                <p>What i like about photographs is that they capture a moment that’s gone forever, impossible to reproduce.</p>
                <a href="#"># Quotes About Photography</a>
                <p class="minuts-ago">8 mins ago</p>
            </li>
            <li>
                <p>There are no bad pictures; that's just how your face looks sometimes..</p>
                <a href="#"># Quotes About Photography</a>
                <p class="minuts-ago">8 mins ago</p>
            </li>
            <li>
                <p>What i like about photographs is that they capture a moment that’s gone forever, impossible to reproduce.</p>
                <a href="#"># Quotes About Photography</a>
                <p class="minuts-ago">8 mins ago</p>
            </li>
        </ul>
    </div>
    <div class="widget widget-courses">
        <div class="inner">
            <h2>Visit Our Top Courses</h2>
            <ul class="bxslider">
                <li>
                    <div class="top-courses">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4><a href="#">Intro to Java Programming</a></h4>
                            <p>Learn essential computer science and object-oriented programming concepts in this introductory Java course. </p>
                            <a href="#" class="btn-style">Lets Visit</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="top-courses">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4><a href="#">Intro to Java Programming</a></h4>
                            <p>Learn essential computer science and object-oriented programming concepts in this introductory Java course. </p>
                            <a href="#" class="btn-style">Lets Visit</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="top-courses">
                        <div class="thumb">
                            <a href="#"><img src="images/topic.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h4><a href="#">Intro to Java Programming</a></h4>
                            <p>Learn essential computer science and object-oriented programming concepts in this introductory Java course. </p>
                            <a href="#" class="btn-style">Lets Visit</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>