<p><input type="text" class="input-block-level" placeholder="Search by Keyword"></p>

<div class="row">
    <div class="span3">
        <label> Sort by </label>
        <select class="input-block-level">
            <option>name</option>
            <option>popularity</option>
        </select>
    </div>
    <div class="span3">
        <label> Sort by </label>
        <select class="input-block-level">
            <option>name</option>
            <option>popularity</option>
        </select>
    </div>
    <div class="span3">
        <label> Sort by </label>
        <select class="input-block-level">
            <option>name</option>
            <option>popularity</option>
        </select>
    </div>
</div>